# URL de conexão com o PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gestao_estoque?schema=public"

# Porta em que a API irá rodar
PORT=3000

# Ambiente de execução (development | production)
NODE_ENV=development
